body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: neue-haas-grotesk-display;
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 16px;
    color: black;
    background-color: transparent;
    cursor: auto;
}

h1, h2 {
text-align: center;
}

img {
    width: 200px;
    height: 200px;
    user-select: none;
}


.main {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 200px;
    height: auto;
    align-items: center;
    border: 1px, black, solid;
    margin: 16px;
    padding: 8px;
}

.container:hover {
    background-color: yellow;
    transition: ease-in-out, 0.5s;
}

body ::selection {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
